$size__site-main: 100%;
$size__site-sidebar: 25%;
$container__width: 1366px;
$gutter: 50px;
$slant__height: 5vw;
$clip-path: polygon(
  0 #{$slant__height},
  100% 0,
  100% calc(100% - #{$slant__height}),
  0 100%
);
