body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  @include font-size(1);
  line-height: $font__line-height-body;
  @media screen and (max-width: 1366px) and (min-width: 768px) {
    @include font-size(0.85);
  }
}

@import "headings";

@import "copy";
