/* General */

.container,
.hiding-title {
  width: $container__width;
  max-width: 100%;
  padding-left: $gutter;
  padding-right: $gutter;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 500px) {
    padding-left: $gutter/2;
    padding-right: $gutter/2;
  }
}

.slant-wrapper {
  filter: drop-shadow(0 0 60px black);
  z-index: 1;
  position: relative;
  @supports (clip-path: $clip-path) {
    margin-bottom: -$slant__height;
  }
}

.slant {
  @include slant();
}

/* Header */
.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: $gutter/3;
  z-index: 2;
}

.admin-bar {
  .site-header {
    top: 32px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

.hiding-title {
  font-size: 5em;
  color: $color__gold;
  position: relative;
  z-index: 1;
  text-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  margin-top: -1.2em;
  @supports (clip-path: #{$clip-path}) {
    margin-top: calc(-1em - #{$slant__height});
    margin-bottom: -3vw;
  }
}

.small-title {
  position: absolute;
  right: $gutter;
  top: $gutter * 1.5;
  font-size: 0.875em;
  font-style: italic;
  letter-spacing: 0.1em;
  @media screen and (max-width: 500px) {
    right: $gutter/2;
  }
}

.cross {
  position: fixed;
  right: $gutter;
  top: $gutter * 1.5;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
  @media screen and (max-width: 768px) {
    top: calc(50vh + #{$gutter/2});
  }
  @media screen and (max-width: 500px) {
    right: $gutter/2;
  }
}

.hero__container {
  min-height: 125vh;
  background-size: cover;
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .hero__title {
      color: $color__white;
      font-size: 3.125em;
      font-weight: 600;
      max-width: 8em;
      line-height: 1.2;
      @media screen and (max-width: 500px) {
        font-size: 2.8em;
      }
      &::after {
        content: "";
        display: block;
        height: 3px;
        width: 8em;
        max-width: 80vw;
        background-color: $color__gold;
        margin: 0.3em 0 0.6em;
      }
    }
    .hero__subtitle {
      color: $color__white;
      max-width: 24em;
      font-weight: 400;
      line-height: 1.2;
      font-size: 1.125em;
    }
  }
}

body.supports-rellax {
  .hero__container {
    .container {
      padding-top: 10vh;
      @media screen and (max-height: 768px) {
        padding-top: 20vh;
      }
    }
  }
}

.work__container {
  background-color: rgba(49, 58, 68, 1);
  .featured-project__container {
    background-color: $color__gold;
    color: $color__dark;
    display: flex;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .featured-project__image {
      min-height: 50vh;
      background-size: cover;
      background-position: top;
      width: 50%;
      @media screen and (max-width: 768px) {
        width: 100%;
        min-height: 80vh;
        @include slant();
      }
    }
    .featured-project__text {
      flex: 1;
      padding: $gutter * 5 $gutter;
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      min-height: 90vh;
      .featured-project__title {
        font-size: 3.75em;
        @media screen and (max-width: 500px) {
          font-size: 3em;
        }
      }
      .featured-project__subtitle {
        font-size: 1.25em;
        font-style: italic;
        margin: 1em 0 2.5em;
      }
      .featured-project__description {
        margin: 0;
        max-width: 23em;
      }
      .featured-project__link {
        font-size: 1.5em;
        font-style: italic;
        margin-top: 1.5em;
        font-weight: 600;
        color: $color__dark;
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.2);
          text-shadow: 0 0 0.5em white;
        }
      }
      @media screen and (max-width: 768px) {
        padding: $gutter * 2 $gutter;
      }
      @media screen and (max-width: 500px) {
        padding: $gutter * 2 $gutter/2;
      }
    }
  }
  .work__items {
    position: relative;
    padding-top: calc(#{$slant__height} + #{$gutter * 9});
    padding-bottom: calc(#{$slant__height} + #{$gutter * 8});
    @media screen and (max-width: 768px) {
      padding-top: calc(#{$slant__height} + #{$gutter * 4});
    }
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#313a44+0,21252b+100 */
    background: rgb(49, 58, 68); /* Old browsers */
    background: -moz-linear-gradient(
      top,
      rgba(49, 58, 68, 1) 0%,
      rgba(33, 37, 43, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(49, 58, 68, 1) 0%,
      rgba(33, 37, 43, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(49, 58, 68, 1) 0%,
      rgba(33, 37, 43, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313a44', endColorstr='#21252b',GradientType=0 ); /* IE6-9 */
    color: $color__white;
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      /* Checking for IE with clip path support instead of space-evenly */
      @supports (clip-path: $clip-path) {
        justify-content: space-evenly;
      }
      align-items: flex-start;
      .small-title {
        color: $color__white;
      }
      .work__item {
        position: relative;
        display: block;
        width: 35%;
        margin-bottom: $gutter * 2;
        transform-style: preserve-3d;
        transform: perspective(1000px);
        &:nth-child(2) {
          margin-top: 10em;
        }
        &:nth-child(even) {
          margin-top: -10em;
          .item__text {
            left: -$gutter;
            right: 0;
            align-items: flex-start;
            text-align: left;
            @media screen and (max-width: 500px) {
              left: -5%;
            }
            .item__title {
              margin-left: 0.38em;
            }
            .item__subtitle {
              margin-left: 0.3em;
            }
          }
          .item__image {
            &::after {
              /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
              background: -moz-linear-gradient(
                45deg,
                rgba(0, 0, 0, 0.8) 0%,
                rgba(0, 0, 0, 0) 100%
              ); /* FF3.6-15 */
              background: -webkit-linear-gradient(
                45deg,
                rgba(0, 0, 0, 0.8) 0%,
                rgba(0, 0, 0, 0) 100%
              ); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(
                45deg,
                rgba(0, 0, 0, 0.8) 0%,
                rgba(0, 0, 0, 0) 100%
              ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }
          }
        }
        &:nth-child(1) {
          margin-top: 0 !important;
        }
        .item__image {
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          transition: box-shadow 0.15s ease-in-out;
          position: relative;
          img {
            display: block;
          }
          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.8+100 */
            background: -moz-linear-gradient(
              -45deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.8) 100%
            ); /* FF3.6-15 */
            background: -webkit-linear-gradient(
              -45deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.8) 100%
            ); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(
              135deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.8) 100%
            ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
          }
        }
        .item__text {
          position: absolute;
          top: 0;
          right: -$gutter;
          bottom: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          text-align: right;
          @media screen and (max-width: 500px) {
            right: -5%;
          }
          .item__title {
            font-size: 2.25em;
            font-weight: 600;
            text-shadow: 0 0 0.4em $color__black;
            transform: translateZ(2em);
            margin-right: 0.38em;
            @media screen and (max-width: 500px) {
              font-size: 1.8em;
            }
          }
          .item__subtitle {
            margin: 0;
            text-shadow: 0 0 0.4em $color__black;
            max-width: 15em;
            line-height: 1.2;
            margin-top: 0.8em;
            transform: translateZ(2em);
            margin-right: 0.3em;
          }
          .item__link {
            margin: 0;
            text-shadow: 0 0 0.4em $color__black;
            font-style: italic;
            color: $color__gold;
            letter-spacing: 0.05em;
            font-weight: 500;
            margin-top: 1.2em;
            transform: translateZ(1.2em);
            transition: all 0.3s ease-in-out;
          }
        }
        &:hover {
          .item__image {
            box-shadow: 0 0 80px rgba(0, 0, 0, 0.8);
          }
          .item__text {
            .item__link {
              text-shadow: 0px 0px 0.5em $color__gold;
              color: $color__white;
            }
          }
        }
        @media screen and (max-width: 768px) {
          &:nth-child(even),
          &:nth-child(odd) {
            width: 70%;
            margin-top: 0;
            margin-bottom: 5em;
          }
        }
        @media screen and (max-width: 500px) {
          &:nth-child(even),
          &:nth-child(odd) {
            width: 90%;
          }
        }
      }
      & > a:first-of-type {
        margin-top: 0;
      }
    }
  }
}

body:not(.supports-rellax) {
  .work__container {
    background-color: transparent;
    .work__items {
      padding-bottom: $gutter * 2;
      margin-top: 0;
    }
  }
}

body:not(.supports-rellax) .skills__container.slant {
  clip-path: none;
}

body:not(.supports-rellax) .skills__title {
  margin-bottom: 0;
}
$bezier: cubic-bezier(0.02, 0.76, 0, 0.98);
.modal {
  transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  max-height: 100vh;
  z-index: 3;
  &.slant-wrapper {
    filter: drop-shadow(0 0 100px black);
  }
  &--closed {
    transform: translate(-100%, #{$slant__height});
    opacity: 0;
  }
  &--closing {
    transform: translate(100%, -#{$slant__height});
    opacity: 0;
  }
  .modal__container {
    background-color: $color__gold;
    color: $color__dark;
    display: flex;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .cross {
      svg {
        width: 44px;
        height: 44px;
        padding: 8px;
      }
    }
    .modal__images {
      width: 50%;
      height: 100vh;
      max-height: 100vh;
      .modal__image {
        width: 100%;
        height: auto;
        display: block;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        height: 50vh;
        clip-path: polygon(
          0 #{$slant__height},
          100% 0,
          100% calc(100% - #{$slant__height}),
          52.5% calc(100% - #{$slant__height * 0.525}),
          50% 100%,
          47.5% calc(100% - #{$slant__height * 0.475}),
          0 100%
        );
      }
    }
    .modal__text {
      flex: 1;
      padding: calc(#{$slant__height} + #{$gutter} + 10vh) $gutter * 2.5
        calc(#{$slant__height} + #{$gutter} + 10vh) $gutter;
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100vh;
      max-height: 100vh;
      @media screen and (max-width: 768px) {
        height: 50vh;
      }
      .modal__title {
        font-size: 3.75em;
        @media screen and (max-width: 500px) {
          font-size: 3em;
        }
      }
      .modal__subtitle {
        font-size: 1.25em;
        font-style: italic;
        margin: 1em 0 2.5em;
        max-width: 16em;
      }
      .modal__description {
        margin: 0;
        max-width: 23em;
      }
      .modal__link {
        display: inline-block;
        font-size: 1.5em;
        font-style: italic;
        margin-top: 1em;
        font-weight: 600;
        color: $color__dark;
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.2);
          text-shadow: 0 0 0.5em white;
        }
      }
      @media screen and (max-width: 768px) {
        padding: $gutter * 2 $gutter;
      }
      @media screen and (max-width: 500px) {
        padding: $gutter * 2 $gutter/2;
      }
    }
  }
}

.skills__container {
  background-size: cover;
  color: $color__light;
  .small-title {
    color: $color__white;
  }
  .skills__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: calc(#{$slant__height * 2} + #{$gutter}) 0;
    @media screen and (max-width: 1024px) {
      padding-top: $gutter * 3;
    }
    @media screen and (max-width: 768px) {
      padding-bottom: calc(#{$slant__height * 2} + #{$gutter * 3});
    }
    .skills__item {
      width: calc((100% - #{$gutter * 4}) / 3);
      @media screen and (max-width: 1024px) {
        width: calc(100% / 3 - #{$gutter});
      }
      @media screen and (max-width: 768px) {
        width: 80%;
        min-width: 200px;
        margin-bottom: $gutter;
      }
      background-color: #30383f;
      padding: $gutter/2;
      position: relative;
      box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
      transition: box-shadow 0.15s ease-in-out;
      transform-style: preserve-3d;
      transform: perspective(1000px);
      .skill__title {
        font-size: 2.25em;
        font-weight: 400;
        margin-left: -$gutter;
        padding-top: 1.1em;
        width: auto;
        text-shadow: 0 0 0.5em $color__black;
        transform: translateZ(2em);
        @media screen and (max-width: 500px) {
          font-size: 1.8em;
        }
        &::after {
          content: "";
          background-color: $color__gold;
          height: 3px;
          width: $gutter * 2;
          margin-left: 0.3em;
          display: block;
          margin-top: 0.5em;
          margin-bottom: 0.7em;
          transform: translateZ(0.5em);
        }
      }
      .skill__years {
        margin: 0;
        position: absolute;
        top: 1.25em;
        right: $gutter/4;
        display: flex;
        transform: translateZ(2em);
        &-number {
          font-size: 3.5em;
          margin-top: -0.175em;
          margin-right: 0.05em;
          font-weight: 100;
        }
        &-suffix {
          font-weight: 500;
          opacity: 0.5;
        }
      }
      .skill__subskills {
        transform: translateZ(2em);
      }
      &:hover {
        box-shadow: 0 0 80px rgba(0, 0, 0, 0.8);
      }
    }
    .skills__other {
      opacity: 0.7;
      margin-top: $gutter * 2;
      min-width: 100%;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      &-title {
        font-size: 1.25em;
        color: $color__white;
      }
      &-description {
        max-width: 20em;
      }
    }
  }
}

.contact__container.slant {
  background-color: #30383f;
  clip-path: polygon(0 #{$slant__height}, 100% 0, 100% 100%, 0 100%);
  .container {
    .small-title {
      color: $color__white;
    }
    .contact__methods {
      padding: $gutter * 3 0 $gutter 0;
      display: flex;
      flex-wrap: wrap;
      & > div {
        width: calc(100% / 3);
        @media screen and (max-width: 1024px) {
          width: 50%;
          &.spacer {
            display: none;
          }
        }
        @media screen and (max-width: 768px) {
          width: 100%;
        }
        h5 {
          color: $color__gold;
          font-style: italic;
          font-size: 1em;
          font-weight: 500;
          margin-top: 2em;
          letter-spacing: 0.15em;
        }
        a {
          font-size: 1.5em;
          margin-top: 0.5em;
          display: block;
          @media screen and (max-width: 768px) {
            font-size: 1.25em;
          }
        }
      }
    }
  }
}
